body {
  font-family: Arial, sans-serif;
  background: #1c0101;
  padding: 20px;
  color: rgb(76, 63, 63);
}
.app-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 1px 2px;
  background: #000000; /* black theme */
  color: rgb(255, 255, 255);
}

.logo {
  height: 60px;
  width: auto;
}

h2 {
  color: #f60707;
  text-align: center;
  margin-bottom: 30px;
}

.card {
  background: rgb(253, 247, 247);
  color: #030101;
  padding: 20px;
  margin: 15px 0;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(255, 44, 44, 0.3);
  font-size: 18px;
  font-weight: bold;
  border-left: 6px solid #ff2c2c;
}

.feedback-box {
  margin: 20px auto;
  width: 90%;
  background: #111;
  color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px red;
}

.feedback-item {
  background: #222;
  padding: 10px;
  margin-bottom: 10px;
  border-left: 5px solid red;
  border-radius: 6px;
}

.analytics-card h3 {
  margin-bottom: 15px;
}

.analytics-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.label {
  width: 60px;
  font-weight: 600;
}

.label.green { color: #00e676; }
.label.yellow { color: #ffeb3b; }
.label.red { color: #ff5252; }

.bar {
  flex: 1;
  height: 14px;
  background: #e72f2f;
  border-radius: 10px;
  overflow: hidden;
}

.fill {
  height: 100%;
  width: 0%;
  transition: width 0.6s ease;
}

.fill.low {
  background: linear-gradient(90deg, #00c853, #64dd17);
}

.fill.medium {
  background: linear-gradient(90deg, #ffd600, #ffab00);
}

.fill.high {
  background: linear-gradient(90deg, #d50000, #ff1744);
}

.percent {
  width: 40px;
  text-align: right;
  font-weight: 600;
}
