body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111; /* black background */
  color: white;
}

/* Header */
header {
  background: #c4161c; /* red */
  color: white;
  padding: 18px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

/* Navigation Bar */
nav {
  background: #000; /* black */
  padding: 12px;
  text-align: center;
  border-bottom: 3px solid #ff2c2c;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 5px;
  transition: background 0.3s;
}

nav a:hover {
  background: #ff2c2c;
}

/* Map Section */
#map {
  height: 520px;
  border-top: 4px solid #ff2c2c;
}