body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111; /* black background */
  color: white;
}

/* Header */

.app-header {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 20px;
  background: #000000; /* black theme */
  color: rgb(228, 26, 26);
}

.logo {
  height: 60px;
  width: auto;
}

/* Navigation Bar */
nav {
  background: #000; /* black */
  padding: 12px;
  text-align: center;
  border-bottom: 3px solid #ff2c2c;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 5px;
  transition: background 0.3s;
}

nav a:hover {
  background: #ff2c2c;
}

/* Map Section */
#map {
  height: 520px;
  border-top: 4px solid #ff2c2c;
}