body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

header {
  background: #0a3d62;
  color: white;
  padding: 15px;
  text-align: center;
}

nav {
  background: #1e3799;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
}

#map {
  height: 520px;
}
