body {
  margin: 0;
  font-family: Segoe UI, sans-serif;
  background: #f5f5f5;
}

/* Header */  
.app-header {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 20px;
  background: #000000; /* black theme */
  color: rgb(228, 26, 26);
}

.logo {
  height: 60px;
  width: auto;
}

.map-btn{
  background:#c4161c;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:20px;
  cursor:pointer;
  font-size:14px;
  width:auto;              /* IMPORTANT */
}

/* LAYOUT */
.container {
  padding: 30px;
}

.layout {
  display: flex;
  gap: 20px;
}

/* LEFT */
.left-panel {
  flex: 1.2;
}

/* RIGHT */
.right-panel {
  flex: 1;
}

#map {
  height: 520px;
  border-radius: 12px;
}

/* CARD */
.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card h3 {
  color: #c1121f;
  margin-top: 0;
}

/* INPUT */
.input-group {
  position: relative;
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* AUTOCOMPLETE */
.suggestions {
  position: absolute;
  top: 45px;
  width: 100%;
  background: white;
  border-radius: 6px;
  border: 1px solid #ccc;
  z-index: 10;
}

.suggestions div {
  padding: 10px;
  cursor: pointer;
}

.suggestions div:hover {
  background: #c1121f;
  color: white;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  background: #c1121f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.hidden {
  display: none;
}
