body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin:0; padding:0;
}

.app-header {
    display: flex;
    align-items: center;
    background: #630716;
    color: white;
    padding: 12px 20px;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #660b1a;
    margin-bottom: 20px;
}

.card {
    background: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.card input, .card select {
    width: 100%;
    padding: 10px;
    margin-top:5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    width: 100%;
    background: #590714;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background: #5b0412;
}

.summary-card {
    background: #f9f9f9;
    padding: 15px;
    border-left: 5px solid #660a1a;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 15px;
}

#paymentFields input {
    margin-top: 5px;
}

.ticket-summary {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 20px auto;
    font-family: 'Segoe UI', sans-serif;
}

.ticket-summary div {
    margin-bottom: 10px;
    font-size: 16px;
}

.ticket-summary .mrp-row {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    color: #660a1a;
    font-size: 18px;
}
